<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lisa's Blog</title>
</head>
<h1>Welcome to Lisa's Blog</h1>
<h2>sub-heading</h2>
<h3>sub-sub-heading</h3>
<em>emphasizes your text</em>
<strong>strongly emphasizes your text</strong>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
<a href="https://djangogirls.org">This is a link</a>
<ul><li>first item</li><li>second item</li><li>third item</li></ul>
<div>defines a section of the page</div>
</html>

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a> </h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>